@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Theme Colors */
  --bg-primary: #FFFFFF; /* Main Background */
  --bg-section: #eef2f7; /* Section Background */

  --text-primary: #000000; /* Primary Text (Darker for better contrast) */
  --text-secondary: #495057; /* Secondary Text (Darker gray) */

  --accent-primary: #007BFF; /* Primary Accent Color */
  --accent-secondary: #FF8C00  ; /* Secondary Accent Color */
  
  /* Button Colors */
  --button-bg: #007BFF; /* Button Background */
  --button-bg-hover: #0056b3; /* Button Background on Hover */
  --button-text: #FFFFFF; /* Button Text Color */
  
  --border-color: #D1D5DB; /* Border/Divider Color */
  --bg-card: #f3eeee; /* Card Background */

  --shadow-color: rgba(0, 0, 0, 0.1)
}

[data-theme='dark'] {
  /* Dark Theme Colors */
  --bg-primary: #080808; /* Main Background */
  --bg-section: #100f0f; /* Section Background */

  --text-primary: #ffffff; /* Primary Text (White for better contrast) */
  --text-secondary: #B0BEC5; /* Secondary Text (Light gray) */

  --accent-primary: #BB86FC; /* Primary Accent Color */
  --accent-secondary: #e36810; /* Secondary Accent Color */

  /* Button Colors */
  --button-bg: #BB86FC; /* Button Background */
  --button-bg-hover: #9B68F9; /* Button Background on Hover */
  --button-text: #FFFFFF; /* Button Text Color */

  --border-color: #37474F; /* Border/Divider Color */
  --bg-card: #121212; /* Card Background */

  --shadow-color: rgba(169, 169, 169, 0.1);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
